.container
{
  /*background-image: url("ravenna.png");*/
  background-color: #B1B1B1
}



.navigation
{
    background-color: #414142;
    padding-left: 40px;
    width: 97%;
    height: 80px;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-radius: 8px;
    border-color: #414142;
    box-shadow: 0 2px 4.5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

img.logo
{
  margin-top: 3px;
  margin-right: 5%;
  width: 140px;
  height: 140px;
  float: left;
}

.buttonHolder
{
  background-color: #414142;
  margin-left: 25px;
  width: 60%;
  border-bottom: solid;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-color: #414142;
  box-shadow: 0 2px 4.5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.OrderButton
{
  background-color: #B1B1B1;
  color: #ED2024;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-color: #B1B1B1;
  margin-left: 5%;
  padding: 20px 26px;
  transition-duration: 0.4s;
  font-family:  'Raleway', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 14px

}

.ContactButton
{
  background-color: #B1B1B1;
  color: #ED2024;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-color: #F4F4F4;
  margin-left: 5%;
  padding: 20px 26px;
  transition-duration: 0.4s;
  font-family:  'Raleway', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 14px

}

.AboutButton
{
  background-color: #B1B1B1;
  color: #ED2024;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-color: #F4F4F4;
  margin-left: 5%;
  padding: 20px 26px;
  transition-duration: 0.4s;
  font-family:  'Raleway', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 14px

}

.OrderButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #e7e7e7;
}

.ContactButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #e7e7e7;
}

.AboutButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #e7e7e7;
}

p1
{
    text-align: center;
}

p2
{
    text-align: center;
}

p3
{
    font-family:  'Raleway', Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin-left: 10px;
}

h2
{
  margin-left: 10px;
}

.submit
{
  font-size: 24px;
}


.wrapper
{
  font-size: 24px;
  padding-bottom: 50px;
}

.plsEnter
{
  font-size: 15px;
  color: red;
}

.form
{
  font-family:  'Raleway', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin-left: 10px;
}

footer
{
  margin-top: 300px;
}
